# 内网使用内网镜像
#registry=http://192.168.131.211:8888/nexus/repository/npm-all/
#disturl=http://192.168.131.211:8888/nexus/repository/npm-mirror/node/
#sass_binary_site=http://192.168.131.211:8888/nexus/repository/npm-mirror/node-sass/
#fse_binary_host_mirror=http://192.168.131.211:8888/nexus/repository/npm-mirror/node-sass/fsevents/
# 外网使用淘宝镜像
registry=https://registry.npm.taobao.org/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
